@import './mixins.module.scss';

$text-color: grey;
$radius: 3px;
$button-margin: 10px;

.container {
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.title {
  margin: 0;
  margin-bottom: 20px;
}

.label {
  font-weight: 500;
  margin: 0;
}

.labelBottomMargin {
  margin-bottom: 10px;
}

.labelRightMargin {
  margin-right: 10px;
}

// Visibility
.notVisible {
  display: none;
}

//Toggle group for checkbox
.toggleGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 20px;
}

.checkBox {
  width: 18px;
  height: 18px;
  background-color: #dfe6e9;
  border-radius: 2px;
  cursor: pointer;
}

.checkBoxChecked {

}

// Different types of flex containers
.flexRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.flexWrapRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  margin-bottom: -10px;

  & > div {
    margin-bottom: 10px;
  }
}

.flexColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

// Sections
.buttonSection {
  margin-bottom: 20px;
}

// Button styling
.smallButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: $radius;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  box-sizing: border-box;

  cursor: pointer;

  background-color: #ecf0f1;
  color: $text-color;
  transition: color 0.5s;
  transition: background-color 0.3s;

  &:hover {
    color: #2d3436;
    background-color: #dee2e3;
  }
}

.buttonMarginRight {
  margin-right: $button-margin;
}

.buttonMarginBottom {
  margin-bottom: $button-margin;
}

.buttonSelected {
  color: #dee2e3;
  background-color: #2d3436;
  font-weight: 500;

  &:hover {
    color: #dee2e3;
    background-color: #2d3436;
  }
}

// Icons
.iconLeft {
  margin-right: 5px;
}

// Bottom button
.bottomButtonWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottomButton {
  color: #dee2e3;
  background-color: #2d3436;
  font-weight: 500;

  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-radius: $radius;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
