@import '../../util/design/mixins.module.scss';
$drawer-width: 60vw;

.container {

  @include media(tablet, desktop) {
    display: none;
  }
}

.menuButton {
  cursor: pointer;
  width: 10vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuIcon {
  color: black;
}

.drawer {
  position: fixed;
  top: 0;
  left: -$drawer-width;
  width: $drawer-width;

  background-color: white;
  height: 100vh;
  box-shadow: 0px 2px 5px #95a5a6;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
  z-index: 3;
}

.drawerOpen {
  top: 0;
  left: 0;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(178, 190, 195, 0.3);
  display: none;
  transition: 0.5s;
}

.backdropVisible {
  display: block;
}

// Close button
.closeButtonWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  box-sizing: border-box;
  padding-right: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.closeButton {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

// Links
.linkWrapper {
  box-sizing: border-box;
  padding-left: 30px;

  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.link {
  font-weight: 500;
  font-size: 1.2em;
}
