.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  padding-bottom: 200px;
}

.mainSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.setButton {
  cursor: pointer;
  margin-bottom: 10px;
}

.selectedSet {
  color: #3498db;
}

.cardWrapper {
  height: 290px;
}

.newCardImage {
  width: 175px;
  height: 245px;
  box-shadow: 0px 4px 8px #95a5a6;
  overflow: hidden;
  border-radius: 7px;
}
