.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  padding-bottom: 200px;
}

.mainSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.setButton {
  cursor: pointer;
  margin-bottom: 10px;
}

.selectedSet {
  color: #3498db;
}

// save
.saveButton {
  width: 150px;
  height: 40px;
  background-color: #2ecc71;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;

  span {
    color: white;
  }
}

// cards

.cardRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.cardWrapper {
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 50px;

  color: grey;
  font-size: 0.9em;
}

.newCardImage {
  width: 175px;
  height: 245px;
  box-shadow: 0px 4px 8px #95a5a6;
  overflow: hidden;
  border-radius: 7px;
  margin-bottom: 5px;
}

.rejectButton {
  cursor: pointer;
}

.rejected {
  color: #e74c3c;
}
