# See https://help.github.com/ignore-files/ for more about ignoring files.

util/algolia/algoliaInit.js
util/firebase/firebaseConfig.js
ssl/
util/notion/notionSecrets.js

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.next

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
