@import '../../util/design/mixins.module.scss';

.container {

}

.searchBar, .searchBar:focus {
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  background-color: #ecf0f1;
  border-radius: 5px;
  border: none;

  @include media(mobile) {
    width: 70vw;
    font-size: 15px;
  }
}
