.container {
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  padding-top: 50px;
}

.leftRail {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.imageWrapper {
  width: 200px;
  height: 280px;
}

.image {
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 5px #95a5a6;
}

.cardName {
  font-size: 25px;
  text-align: center;
}

.cardData {
  width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 0.85em;
  color: grey;
}

.detail {
  margin-bottom: 25px;
  font-size: 1.1em;
  font-weight: 500;
}

.tags {
  width: 200px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.rightSection {
  width: 100%;
  margin-left: 80px;
  margin-right: 50px;
}
