.container {
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  padding-top: 50px;
}

.leftRail {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.image {
  width: 200px;
  height: auto;
  box-shadow: 0px 2px 5px #95a5a6;
}

.cardName {
  font-size: 25px;
}

.tags {
  width: 200px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.rightSection {
  width: 100%;
  margin-left: 80px;
  margin-right: 50px;
}
