.container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  padding-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: white;
  z-index: -1;
}

.searchResults {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
}


.resultWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}


.thumbnail {
  width: 225px;
  height: 314px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px #95a5a6;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.topLine {
  font-size: 0.8em;
  color: grey;
  font-weight: bold;
}

.cardName {
  font-size: 1.2em;
  font-weight: bold;
}

.setName {
  margin-bottom: 5px;
}

.cardNumber {

}
