@import '../../util/design/mixins.module.scss';

// Common
.darkButton {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  box-sizing: border-box;

  cursor: pointer;
}

// Get started button - appears on homepage

.getStartedButton {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;

  margin-bottom: 15px;
}

.getStartedText {
  color: white;
  font-size: 1em;
  font-weight: bold;
}


// Sign in button - appears in nav when not signed in

.signInButton {
  @include media(mobile) {
    display: none;
  }
}

.signInText {
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}


// Add to collection button - appears on Card details screen

.addButton {
  position: relative;
  padding: 5px;
  width: 100%;
  border-radius: 15px 5px 15px 5px;
  background-color: white;
  border: 2px solid black;

  transition: 0.3s;
  color: black;

  &:hover {
    background-color: black;
    color: white;

    .shortcutTextWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

.plusIcon {

}

.addToCollectionText {
  font-size: 0.9em;
  margin-left: 10px;
}

// ShortcutText
.shortcutTextWrapper, .shortcutTextWrapper:hover {
  position: absolute;
  top: 115%;
  color: grey;

  border-radius: 3px;
  border: 1px solid #dfe6e9;
  background-color: white;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  box-sizing: border-box;
  z-index: 1;

  display: none;
}

.shortcutText {
  font-size: 0.8em;
  margin-right: 5px;
}

.shortcutBox {
  background-color: #dee2e3;
  width: 18px;
  height: 18px;
  border-radius: 3px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 0.9em;
  font-weight: bold;
}
