@import '../../util/design/mixins.module.scss';

// Common
.darkButton {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  box-sizing: border-box;

  cursor: pointer;
}

// Get started button - appears on homepage

.getStartedButton {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;

  margin-bottom: 15px;
}

.getStartedText {
  color: white;
  font-size: 1em;
  font-weight: bold;
}


// Sign in button - appears in nav when not signed in

.signInButton {
  @include media(mobile) {
    display: none;
  }
}

.signInText {
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}


// Add to collection button - appears on Card details screen

.addButton {
  padding: 5px;
  width: 100%;
  border-radius: 15px 5px 15px 5px;
  background-color: white;
  border: 2px solid black;

  transition: 0.3s;
  color: black;

  &:hover {
    background-color: black;
    color: white;
  }
}

.plusIcon {

}
