@import '../../util/design/mixins.module.scss';

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding-top: 50px;
  margin-bottom: 100px;
}

.mainContent {
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include media(mobile) {
    width: 85vw;
  }
}

.topInfoWrapper {
  margin-bottom: 40px;
}

.headline {
  margin-bottom: 10px;
  color: grey;
  font-weight: normal;
}

.subhead {
  color: black;
  margin-bottom: 20px;
}

.bold {
  font-weight: 500;
}

.pricingInfo {

}

.label {
  margin-bottom: 0px;
  font-weight: normal;
}

.featuresList {

}

.feature {
  margin-bottom: 10px;
}

.highlightedFeature {
  text-decoration: underline #f1c40f dotted;
}

.button {
  background-color: #2ecc71;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 50px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonText {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.loader {
  color: white;
  font-weight: bold;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.errorMessage {
  width: 65vw;
  margin-top: 20px;
}
