@import '../../util/design/mixins.module.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(178, 190, 195, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 400px;
  height: 85vh;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;

  background-color: white;
  border: 2px solid black;
  border-radius: 5px;

  overflow-y: scroll;
  position: relative;

  @include media(mobile) {
    width: 85vw;
    height: 85vh;
  }
}

.title {
  margin-bottom: 20px;
}

.button {
  background-color: #ecf0f1;
  width: 35%;
  height: 35px;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


// Buttons for graded vs ungraded
.gradedButtons {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.gradedButton {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.selectedButton {
  background-color: #2ecc71;
  color: white;
  font-weight: bold;
}


// Buttons for PSA, BGS, CGC, GMA
.gradingAuthority {
  height: 0px;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.5s;
}

.gradingAuthorityVisible {
  height: 135px;
}

.gradingTitle {
  margin: 0;
  margin-bottom: 10px;
}

.gradingAuthorityButtons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gradingAuthorityButton {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

// Grade selection - numbers 10 -> 1
.gradeSelection {
  // height: 0px;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.5s;
}

.grades {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
}

.gradeButton {
  width: 15%;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.halfGradeButton {
  width: 60%;
  font-size: 0.9em;
}


// Save button

.saveButton {
  position: absolute;
  bottom: 20px;
  width: 70%;

  background-color: black;
  color: white;
  height: 40px;
}
