.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name {
  margin: 0;
  margin-bottom: 10px;
}

.username {
  color: grey;
  font-size: 1em;
  margin-bottom: 0;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.rightSide {

}

.sellButton {
  background-color: #27273f;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
