@import '../../util/design/mixins.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include media(mobile) {
    align-items: center;
    margin-bottom: 10px;
  }
}

.name {
  margin: 0;
  margin-bottom: 10px;
}

.username {
  color: grey;
  font-size: 1em;
}
