.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.name {
  margin: 0;
  margin-bottom: 10px;
}

.username {
  color: grey;
  font-size: 1em;
}
