@import '../../util/design/mixins.module.scss';

.container {
  width: 100vw;
  height: 60px;
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  @include media(mobile) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.brandWrapper {
  height: 100%;
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.signedInBrand {
  @include media(mobile) {
    display: none;
  }
}

.brand {
  height: 55%;
  width: auto;
  cursor: pointer;
}

.rightSide {
  width: 20vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include media(mobile) {
    width: 10vw;
    display: none;
  }
}

.userButton {
  cursor: pointer;
  color: grey;
}
