.container {
  width: 100vw;
  height: 60px;
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.brandWrapper {
  height: 100%;
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.brand {
  height: 55%;
  width: auto;
  cursor: pointer;
}

.placeholder {
  width: 20vw;
}
