@import '../../util/design/mixins.module.scss';
.container {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;

  width: 100vw;
  height: 100vh;
  // background-color: rgba(178, 190, 195, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;

  z-index: 2;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 8px 20px 4px #00000040;
}
