@import '../../util/design/mixins.module.scss';

.container {
  width: 100vw;
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: flex-start;

  padding-top: 5vh;
  padding-bottom: 5vh;
}

.textBlock {
  width: 60vw;
  margin-bottom: 30px;

  @include media(mobile) {
    width: 80vw;
  }
}

.header {
  font-size: 80px;
  margin-bottom: 30px;

  @include media(mobile) {
    font-size: 40px;
  }
}

.bodyText {
  width: 90%;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 10px;

  @include media(mobile) {
    font-size: 16px;
  }
}

.callout {
  font-weight: 500;
}

// Product Image
.productImage {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0px 4px 8px #95a5a6;
  padding: 20px;
  // padding-left: 100px;
  // padding-right: 100px;
}

.featureSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.featureIcon {
  width: 80px;
  height: 80px;
  margin-right: 30px;

  @include media(mobile) {
    width: 60px;
    height: 60px;
  }
}

.featuresText {
  width: calc(80% - 50px);

  @include media(mobile) {
    font-size: 14px;
    line-height: 25px;
    width: 100%;
  }
}

.getStartedWrapper {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  margin-bottom: 75px;
}

.priceText {
  color: grey;
  font-size: 0.8em;
}
