@import '../../util/design/mixins.module.scss';

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {

}

.seriesWrapper {
  width: 840px;
  margin-bottom: 50px;

  @include media(mobile) {
    margin-bottom: 40px;
    width: 100%;
  }
}

.seriesInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-left: 15px;

  @include media(mobile) {
    flex-direction: column;
    margin-left: 0px;
  }
}

.seriesLogoWrapper {
  width: 200px;

  @include media(mobile) {
    width: auto;
  }
}

.seriesLogo {
  height: 60px;
  width: auto;
}

.seriesName {

}

// Sets
.setsInSeries {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  @include media(mobile) {
    justify-content: center;
  }
}
