@import '../../util/design/mixins.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  @include media(mobile) {
    width: 100vw;
  }
}
