@import '../../util/design/mixins.module.scss';

$text-color: grey;
$radius: 3px;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin-top: 15px;
}

.utilityButton {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f1;
  border-radius: $radius;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  box-sizing: border-box;

  cursor: pointer;
  color: $text-color;
  transition: color 0.5s;
  transition: background-color 0.3s;

  @include media(tablet, desktop) {
    &:hover {
      color: #2d3436;
      background-color: #dee2e3;

      .helpTextWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }
}


.buttonText {
  margin-right: 5px;
  font-size: 0.9em;
  font-weight: 500;
}

.icon {

}

// Helptext
.helpTextWrapper, .helpTextWrapper:hover {
  position: absolute;
  top: 115%;
  color: $text-color;

  border-radius: $radius;
  border: 1px solid #dfe6e9;
  background-color: white;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  box-sizing: border-box;
  z-index: 1;

  display: none;
}

.helpText {
  font-size: 0.8em;
  margin-right: 5px;
}

.shortcutBox {
  background-color: #dee2e3;
  width: 18px;
  height: 18px;
  border-radius: $radius;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 0.9em;
  font-weight: bold;
}
