@import '../../util/design/mixins.module.scss';

.container {
  margin-top: 30px;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}

.socialText {

}

.socialLinks {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.socialLink {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
}

.socialIcon {
  width: 100%;
  height: auto;
}

.twitterIcon {
  width: 80%;
}
