@import '../util/design/mixins.module.scss';

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


// SearchBox
form  {
  .ais-SearchBox-submit, .ais-SearchBox-reset {
    display: none;
  }

  .ais-SearchBox-input {
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    background-color: #ecf0f1;
    border-radius: 5px;
    border: none;

    @include media(mobile) {
      width: 70vw;
      font-size: 15px;
    }
  }

}
