@import '../../util/design/mixins.module.scss';

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding-top: 50px;
}

.setInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.imageWrapper {
  width: 250px;
}

.logo {
  width: 100%;
}

.setName {
  color: grey;
  margin: 0;
  margin-top: 10px;
}

// Edit button
.buttons {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;

  margin-left: 20px;
  margin-right: 20px;

  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.editModeButton {

}


.saveButton {
  background-color: black;
  color: white;
}

.editButtonText {
  font-weight: 500;
}

// cards
.cardList {
  margin-top: 30px;
  padding-top: 5px;
  width: 80%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;

  @include media(mobile) {
    width: 100%;
  }
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 40px;
  width: 185px;
  cursor: pointer;

  @include media(mobile) {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: auto;
  }
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.cardName {
  font-size: 0.85em;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.cardNumber {
  font-size: 0.75em;
  color: grey;
  font-weight: bold;
}

.editCardWrapper {
  position: relative;
}

.selectedCard {
  box-shadow: 0 0 0 3pt #e74c3c;
}

.selectRightButton {
  position: absolute;
  bottom: 200px;

  cursor: pointer;
}
