@import '../../util/design/mixins.module.scss';

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent {
  margin-top: 50px;
  width: 50%;

  @include media(mobile) {
    width: 85%;
  }
}

.heading {
  cursor: default;
  margin-bottom: 40px;

  @include media(mobile) {
    margin-bottom: 30px;
  }
}

.settingWrapper {
  position: relative;
  height: 60px;
  width: 50%;
  padding-top: 3px;
  padding-left: 25px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 2px solid black;
  border-radius: 3px;

  @include media(mobile) {
    width: 100%;
    padding-top: 2px;
  }
}

.label {
  position: absolute;
  top: -12px;
  left: 15px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  cursor: default;
}

.status {
  font-weight: 500;
  cursor: default;
}

.active {
  color: #2ecc71;
}

.inactive {
  color: #e74c3c;
}

.cancelSubscriptionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
  padding-left: 25px;

  cursor: pointer;
  height: 100%;
}

.cancelText {
  color: grey;
  font-size: 0.9em;
}

// Confirmation modal ------------------------------------------------
.confirmationModal {
  width: 475px;
  padding: 30px;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;

  @include media(mobile) {
    width: 85%;
  }
}

.cancelTextWrapper {
  margin-bottom: 30px;

  @include media(mobile) {
    margin-bottom: 25px;
  }
}

.confirmHeading {
  margin: 0px;
  margin-bottom: 20px;

  @include media(mobile) {
    margin-bottom: 15px;
  }
}

.promptText {

}

.buttons {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include media(mobile) {
    height: 120px;
  }
}

.button {
  cursor: pointer;
  height: 50px;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.cancelButton {
  background-color: black;
}

.cancelButtonText {
  color: white;
  font-weight: 500;
}

.confirmButton {
  border: 2px solid black;
}

.confirmationWrapper {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media(mobile) {
    height: 120px;
  }
}

.confirmingText {
  margin-top: 10px;
}

.canceledWrapper {
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media(mobile) {
    height: 120px;
  }
}

.errorMessage {
  color: grey;
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 5px;
}
