@import '../../util/design/mixins.module.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-top: 20px;
  margin-bottom: 20px;

  @include media(mobile) {
    flex-direction: column;
    margin-bottom: 0px;
  }
}

.statsBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  margin-right: 15px;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.dataPoint {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 22px;
}

.dataLabel {
  font-size: 0.9em;
  color: grey;
}
