
.container {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  margin-right: 3px;
  margin-left: 3px;

  border-radius: 5px;
}

.text {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
