@import '../../util/design/mixins.module.scss';

.container {
  width: 80%;
}

.saleRow {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #ecf0f1;
}

.saleDetail {
  width: 30%;
}

.price {
  font-weight: bold;
}
