@import '../../util/design/mixins.module.scss';

.setCard {
  width: 250px;
  height: 130px;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #ecf0f1;
  cursor: pointer;

  @include media(mobile) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.setLogoWrapper {
  height: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.setLogo {
  max-height: 50px;
  max-width: 100%;
}

.setName {
  font-size: 0.9em;
  color: grey;
}
